@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  --background: 224 3% 87%; /* #e0e1dd */
  --foreground: 240 10% 10%; /* #0d1b2a */
  --primary: 240 10% 10%; /* #0d1b2a */
  --primary-foreground: 224 3% 87%; /* #e0e1dd */
  --secondary: 240 10% 20%; /* Slightly lighter than primary */
  --secondary-foreground: 224 3% 87%; /* #e0e1dd */
  --muted: 240 5% 70%; /* Muted tone */
  --muted-foreground: 240 10% 10%; /* #0d1b2a */
  --accent: 240 5% 60%; /* Complementary to muted */
  --accent-foreground: 224 3% 87%; /* #e0e1dd */
  --destructive: 0 84.2% 60.2%; /* For error states */
  --destructive-foreground: 224 3% 87%; /* #e0e1dd */
  --border: 240 5.9% 70%; /* For borders */
  --input: 240 5.9% 70%; /* For inputs */
  --ring: 240 10% 10%; /* For focus rings */
  --radius: 0.5rem;
}

body {
  @apply text-foreground bg-background min-h-screen;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md bg-primary text-primary;
}

.btn.btn-ghost {
  @apply shadow-none bg-transparent;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
